---
import AuthorPresence from '@/components/bento/AuthorPresence'
import WakatimeGraph from '@/components/bento/WakatimeGraph'
import Link from '@/components/Link.astro'
// import FuzzyText from '@/components/magicui/fuzzy-text'
import GradientText from '@/components/magicui/gradint-text'
import LetterGlitch from '@/components/magicui/letter-glitch'
import { SITE, SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import GiteaCalendar from '@/components/custom/GiteaCalendar'
import Music163Player from '@/components/custom/Music163Player'
import RandomAnimeBackground from '@/components/custom/RandomAnimeBackgrounds'
// import DevShortCuts from '@/components/DevShortCuts.astro'
import DevShortcutsHexagon from '@/components/DevShortcutsHexagon.astro'

const latestPost = await getCollection('blog').then((posts: any[]) =>
  posts
    .sort(
      (a, b) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
    )
    .filter((post) => !post.data.hidden && !post.data.draft)
    .at(0),
)

---

<Layout title="主页" description={SITE.DESCRIPTION}>
  <section
    class="mx-auto grid w-full grid-cols-1 gap-4 px-4 [grid-template-areas:'a'_'d'_'b'_'e'_'g'_'f'_'j'_'i'_'k'] [grid-template-rows:repeat(9,auto)] *:border-2 *:border-[color-mix(in_srgb,hsl(var(--primary))_22%,hsl(var(--border)))] *:bg-secondary/25 *:bg-cover *:bg-center *:bg-no-repeat *:overflow-hidden *:w-full *:[box-shadow:4px_4px_0_rgba(0,0,0,0.22)] *:transition-all *:duration-200 sm:max-w-screen-sm sm:grid-cols-2 sm:[grid-template-areas:'a_a'_'b_d'_'e_e'_'j_g'_'f_f'_'i_k'] sm:[grid-template-rows:repeat(6,300px)] sm:*:max-w-[615px] xl:max-w-screen-xl xl:grid-cols-4 xl:[grid-template-areas:'a_a_b_g'_'d_e_e_i'_'k_j_f_f'] xl:[grid-template-rows:repeat(3,300px)] xl:*:max-w-none dark:*:[box-shadow:4px_4px_0_rgba(0,0,0,0.65)] xl:[&:hover:has(>.has-overlay:hover)>.first>.overlay]:opacity-100 xl:[&>*:not(.first):hover_.overlay]:opacity-100"
    aria-label="Personal information and activity grid"
  > 
    <div
      class="first flex flex-row xl:max-h-[298px] xl:min-w-[615px] grow-[0] justify-center aspect-square bg-[url('/static/loading.gif')] border bg-cover bg-center bg-position-inherit bg-no-repeat [grid-area:a] sm:aspect-[2.1/1] xl:aspect-auto hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
      role="img"

      aria-label="Introduction"
    >
     <RandomAnimeBackground client:load/>
    </div>

    <div
      class="has-overlay relative grid aspect-square grid-cols-4 grid-rows-3 items-center
      justify-center [grid-area:b] short-cuts-template hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
      style="grid-template-columns: 2.85fr 2.95fr 2.9fr 1.3fr;grid-template-rows: 4.7fr 3.4fr 2.8fr;"
      aria-label="Developer Stack Shortcuts"
    >
      <img
        class="overlay absolute bottom-0 right-0 no-repeat max-w-[28%] object-contain z-[100]"
        src="/static/images/shortcuts-bg-mini.png"
      />
      <!-- <DevStackIconsCloud client:load/> -->
      <!-- <DevShortCuts /> -->
      <DevShortcutsHexagon />
    </div>

    <div class="relative overflow-hidden [grid-area:d] aspect-square hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]">
      <AuthorPresence client:load />
    </div>

    <div
      class="has-overlay min-h-[300px] relative flex grid aspect-[6/5] grid-rows-2 items-start overflow-hidden p-1 [grid-area:e] sm:aspect-[2.1/1] sm:items-center xl:aspect-auto hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
      style="grid-template-rows: 9fr 1fr; "
    >
      <div
        class="overlay absolute inset-0 size-full rounded-3xl bg-[url('/static/images/lastblogbg-sm.webp')] bg-cover bg-no-repeat transition-opacity duration-200 sm:bg-[url('/static/images/lastblogbg.webp')] xl:opacity-100"
      >
      </div>
      {
        latestPost && (
          <>
            <Link style="z-index: 9;"
              href={`/blog/${latestPost.id}`}>
              <img
                src={latestPost.data.image?.src ?? '#'}
                alt={`Featured image for the latest post: ${latestPost.data.title}`}
                width={477}
                height={251}
                class="w-full border-2 border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] sm:w-[82%]"
              />
            </Link>

            <div class="relative w-full overflow-hidden rounded-xl ml-16 sm:ml-[0]">
              <GradientText
                colors={['#fbb229', '#d0ff29', '#ff2000', '#ff29a9', '#b029ff']}
                animationSpeed={4}
                showBorder={false}
                className="custom-class",
                link={`/blog/${latestPost.id}`}
              >
                🔖{latestPost.data.title}
              </GradientText>
            </div>
            <Link
              href={`/blog/${latestPost.id}`}
              aria-label={`Read latest blog post: ${latestPost.data.title}`}
              title={`Read latest blog post: ${latestPost.data.title}`}
            >
              <div class="absolute top-0 right-0 m-3 flex w-fit items-end rounded-full border bg-secondary/50 p-3 text-primary transition-all duration-300 hover:rotate-12 hover:ring-1 hover:ring-primary z-10">
                <Icon name="lucide:move-up-right" size={16} />
              </div>
            </Link>
          </>
        )
      }
    </div>

    <div
      class="has-overlay xl:min-w-[615px] relative flex aspect-square items-center justify-center overflow-hidden [grid-area:f] sm:aspect-[2.1/1] xl:aspect-auto hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
    >
      <div
        class="overlay absolute inset-0 z-[1] size-full bg-[url('/static/images/contributions-square.png')] bg-cover bg-center bg-no-repeat transition-opacity duration-200 sm:bg-[url('/static/images/contributions.png')] xl:opacity-100"
      >
      </div>
      <GiteaCalendar client:load />
    </div>

    <div
      class="has-overlay relative aspect-square [grid-area:g] hover:bg-none hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
    >
      <div
        class="overlay absolute inset-0 z-0 size-full bg-[url('/static/images/music163.png')] bg-cover bg-center bg-no-repeat transition-opacity duration-200 xl:opacity-100"
      >
      </div>
      <Music163Player client:load />
    </div>

    <div
      class="has-overlay relative flex aspect-square items-center justify-center [grid-area:i] hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
    >
      <div
        class="overlay absolute inset-0 size-full bg-[url('/static/images/github.png')] bg-cover bg-center bg-no-repeat transition-opacity duration-200 xl:opacity-100"
      >
      </div>
      <Icon
        name="mdi:github"
        class="absolute z-[1] size-1/2 text-primary sm:size-24"
        aria-hidden="true"
      />
      <Link
        href={SOCIAL_LINKS.find((link) => link.label === 'GitHub')?.href || '#'}
        title="Visit my GitHub profile"
        aria-label="Visit my GitHub profile"
        target="_blank"
      >
        <div
          class="absolute top-0 right-0 m-3 flex w-fit items-end rounded-full border bg-secondary/50 p-3 text-primary transition-all duration-300 hover:rotate-12 hover:ring-1 hover:ring-primary"
        >
          <Icon name="lucide:move-up-right" size={16} />
        </div>
      </Link>
    </div>

    <div class="has-overlay aspect-square [grid-area:j] bg-[url('/static/images/waketime.png')] bg-cover bg-center bg-no-repeat hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]">
      <WakatimeGraph omitLanguages={['Markdown', 'JSON']} client:load />
    </div>

    <!-- 字符滚动 -->
    <div class="aspect-square [grid-area:k] hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]">
      <LetterGlitch
        client:load
        glitchColors={['#de17a5', '#5617de', '#e9d3b6']}
        ,
        glitchSpeed={50}
        centerVignette={false}
        outerVignette={true}
        smooth={true}
      />
    </div>
  </section>
</Layout>

<style>
  section > div:hover {
    box-shadow:
      0 0 16px rgba(241, 140, 110, 0.5),
      0 0 32px rgba(241, 140, 110, 0.3),
      0 0 48px rgba(241, 140, 110, 0.15),
      6px 6px 0 rgba(0, 0, 0, 0.26) !important;
  }

  .dark section > div:hover {
    box-shadow:
      0 0 16px rgba(241, 140, 110, 0.5),
      0 0 32px rgba(241, 140, 110, 0.3),
      0 0 48px rgba(241, 140, 110, 0.15),
      6px 6px 0 rgba(0, 0, 0, 0.75) !important;
  }
</style>
