---
import Badge from '@/components/Badge.astro'
import Link from '@/components/Link.astro'
import { Separator } from '@/components/ui/separator'
import { extractDomain, formatMonthYear } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
---

<div
  class="border-2 border-[color-mix(in_srgb,hsl(var(--primary))_22%,hsl(var(--border)))] bg-secondary/25 p-4 [box-shadow:4px_4px_0_rgba(0,0,0,0.22)] transition-all duration-200 hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.26)] hover:-translate-y-1 hover:border-[color-mix(in_srgb,hsl(var(--primary))_40%,hsl(var(--border)))] dark:[box-shadow:4px_4px_0_rgba(0,0,0,0.65)] dark:hover:[box-shadow:6px_6px_0_rgba(0,0,0,0.75)]"
>
  <Link
    href={project.data.link}
    class="flex flex-col gap-4 sm:flex-row"
    external
  >
    {
      project.data.image && (
        <div class="max-w-[225px] sm:flex-shrink-0">
          <Image
            src={project.data.image}
            alt={project.data.name}
            width={1200}
            height={630}
            class="object-cover"
          />
        </div>
      )
    }
    <div class="grow">
      <h3 class="mb-1 text-lg font-semibold">
        {project.data.name}
      </h3>
      <p class="text-muted-foreground mb-2 text-sm">
        {project.data.description}
      </p>
      {
        project.data.startDate && (
          <div class="text-muted-foreground/70 mb-2 flex flex-wrap items-center gap-x-2 text-xs">
            <span class="flex items-center gap-x-1.5">
              <Icon name="lucide:calendar" class="size-3" />
              <span>
                {formatMonthYear(project.data.startDate)}
                {project.data.endDate
                  ? ` → ${formatMonthYear(project.data.endDate)}`
                  : ' → Present'}
              </span>
            </span>
            <Separator orientation="vertical" className="h-4!" />
            <span class="flex items-center gap-x-1">
              <Icon name="lucide:external-link" class="size-3" />
              <span>{extractDomain(project.data.link)}</span>
            </span>
          </div>
        )
      }
      {
        project.data.tags && (
          <div class="flex flex-wrap gap-2">
            {project.data.tags.map((tag: string) => (
              <Badge text={tag} />
            ))}
          </div>
        )
      }
    </div>
  </Link>
</div>
